version: "3.9"

services:
  webapp:
    container_name: blazor-webapp
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5001:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Production
    restart: always
