name: Blazor Docker CI/CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Tailscale
        run: |
          curl -fsSL https://tailscale.com/install.sh | sh

      - name: Connect to Tailscale
        run: |
          sudo tailscale up --authkey=${{ secrets.TAILSCALE_AUTHKEY }} --ssh

      - name: Setup SSH
        run: |
          mkdir -p /home/runner/.ssh
          echo "${{ secrets.LOCAL_SSH_KEY }}" > /home/runner/.ssh/id_ed25519
          chmod 600 /home/runner/.ssh/id_ed25519

      - name: Deploy to local machine
        run: |
          ssh -o StrictHostKeyChecking=no \
            ${{ secrets.LOCAL_USER }}@${{ secrets.LOCAL_HOST }} << 'EOF'
              cd D:/Project/FC/FootBallWeb/FootBallWeb
              git pull origin main
              docker compose down
              docker compose up -d --build
            EOF
